.close > * {
  width: 0px;
  height: 0px;
  padding: 0px;
  opacity: 0;
}

.close {
  width: 0px;
  height: 0px;
  padding: 0px;
  opacity: 0;
}

.open > button {
  width: auto;
  height: 20px;
  padding: 0px;
  opacity: 1;
}
.open > input {
  width: 90px;
  height: 20px;
  padding: 0px;
  opacity: 1;
}

.open {
  margin: auto;
  width: 200px;
  height: 20px;
  padding: 0px;
  opacity: 1;
}