* {
  padding: 0px;
  margin: 0px;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-container {
  height: 100%;
}